body {
    background-image: url("images/brickwall_@2X.png");
    margin: 0px;
    width: 100%;
}

header {
    text-align: center;
    margin: 0px;
    width: 100%;
    background: rgba(173, 216, 230, 0.3);
}

h1 {
    font-family: 'Bungee Shade', cursive, sans-serif;
    font-size: 55pt;
}

.container{
    width: 900px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#buttonSection {
    margin-top: 25px;
    margin-bottom: 25px;
}

.gifSection {
    border: 2px solid black;
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
    float: left;
}

.topicButton {
    padding: 10px;
    margin: 15px;
    font-size: 16px;
    background: rgba(173, 216, 230, 0.3);
    border-radius: 15px;
}

.gif {
    float: left;
    margin: 10px 37px 75px 25px;
    height: 200px;

}